{% extends '_base.html' %}
{% block content %}

    {% include '_filter_form.html' %}

    {% for recipe in recipe_list %}
        <div class="card list-group-item-action m-4">
            <article class="media content-section p-2">
                <div class="card-body p-1">
                    {% if recipe.is_vegetarian == 1 %}
                        <i class="fas fa-seedling"></i><small class="font-italic"> Vegetarian</small>
                    {% endif %}
                    <h2><a href="{{ recipe.get_absolute_url }}"
                           class="font-weight-bold list-group-item-action">{{ recipe }}</a></h2>
                    {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="rounded float-left m-3">
                    {% endif %}
                    <div class="mask rgba-white-slight"></div>
                    <p class="article-content m-3"> {{ recipe.description }}</p>
                </div>
            </article>
        </div>
    {% endfor %}

    {% include '_pagination.html' with page_obj=page_obj %}
{% endblock content %}