{% extends '_base.html' %}

{% block title %}{{ recipe.title }}{% endblock title %}

{% block content %}
    <div class="card mt-3 mb-3" style="max-width: 100rem;">
     <h2 class="card-title font-weight-bold p-2">{{ recipe }}</h2>
        <div class="card-body">
             {% if recipe.image_url %}
                        <img src="{{ recipe.image_url }}" class="rounded float-left m-3">
                    {% endif %}
            <p class="card-text pt-3">{{ recipe.description }}</p>
            <h4 class="card-title">Ingredients</h4>
            <ul class="list-group list-group-flush">
                {% for  ingredient in recipe.ingredients %}
                    <li class="list-group-item">{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
            <h4 class="card-title">Instruction</h4>
            <p class="card-text"> {{ recipe.instructions }}</p>
        </div>
        <div>
            <h2 class="card-title font-weight-bold p-2 mt-3">Reviews</h2>
            {% if user.is_authenticated %}
            <!-- <button class="btn btn-dark text-warning" type="submit">Add recipe</button> -->
                <h2><a href="{% url 'review_add' %}" class="ml-3 mr-auto md-6 font-weight-bold btn btn-dark text-warning">Add review</a></h2>
            {% endif %}
            {% for review in recipe.reviews.all %}
                <div class="card-body">
                    <h2>{{ review.author }}</h2>
                    <p>{{ review.review }}</p>
                </div>
            {% empty %}
                <p class="p-3">No reviews were added</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}