body {
    height: 100%;
    background: linear-gradient(0deg,rgb(135, 161, 131) 0%,rgb(208, 228, 171) 100%);
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}