  <div class="form-group m-4">
        <form class="text-center border border-light form-inline mt-2 mt-md-0 m-4" action="{% url 'search_results' %}"
              method="get">
            <label for="name_contains">Recipe keyword: </label>
            <input name="name_contains" class="form-control mr-sm-2" type="text" placeholder="Recipe keyword">
             <label for="cost">Cost: </label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="cost" placeholder="cost">
                <option selected disabled>Choose...</option>
                <option value="Inexpensive">Inexpensive</option>
                <option value="Moderate">Moderate</option>
                <option value="Expensive">Expensive</option>
            </select>
            <label for="cooking_method">Cooking method: </label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="cooking_method" placeholder="cost">
                <option selected disabled>Choose...</option>
                <option value="Baking">Baking</option>
                <option value="Frying">Frying</option>
                <option value="Steaming">Steaming</option>
                <option value="Grilling">Grilling</option>
                <option value="Braising">Braising</option>
                <option value="Sauteeing">Sauteing</option>
                <option value="Roasting">Roasting</option>
                <option value="Slow-cooking">Slow-Cooking</option>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>