<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookly</title>
</head>
<body>
<label for="productName">Product name:</label>
<input type="text" id="productName" ><br>
<label for="minScore">Minimum rateing:</label>
<input type="text" id="minScore" type="number"><br>
<label for="contains">Contains:</label>
<input type="text" id="contains"><br>
<input type="button" value="Search"><br>

</body>
</html>