{% extends '_base.html' %}

{% block title %}{{ recipe.title }}{% endblock title %}

{% block content %}
    <div class="recipe-detail p-2">
        <h2>{{ recipe }}</h2>
        <h3>Description:</h3>
        <p>{{ recipe.description }}</p>
        <h3>Ingredients</h3>
        {% for  ingredient in recipe.ingredients %}
            <p>{{ ingredient.name }}</p>
        {% endfor %}
        <h3>Instructions</h3>
        <p>{{ recipe.instructions }}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
                {% for review in recipe.reviews.all %}
                <li>{{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}